.App-Header{
    text-align: center;
    font-family: sans-serif;
    font-size: 25.6px;
}

.attribution-text{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.attribution-link{
    color: #4AD295;
}